
header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
}

header nav{
  width: 60%;
}

header ul{
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

header a{
  color: white;
  text-decoration: none;
  font-family: 'Courier New';

}

.active{
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  padding: 3px 0;
}
