
main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.post_card{
  border: 1px solid #d5d5d5;
  font-size: 30px;
  width: 400px;
  height: 170px;
}

.post_header{
  background: #eeeeee;
  font-size: 25px;
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 10px;
}

.post_content{
  padding-left: 10px;
}


.post_content p{
  margin-top: 10px;
  margin-bottom: 15px;
}

.post_content a{
  border: 1px solid green;
  border-radius: 5px;
  background: green;
  color: white;
  text-decoration: none;
  padding: 5px;
}
