{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/greeting.css' %}">
	{% block stylesheet %}

	{% endblock %}
	<title>
		{% block title %}
			Title
		{% endblock %}
	</title>
</head>
<body>

<main>
	<div class="greeting">
		<h1>Это мой первый сайт(блог)</h1>
		<p>Чтобы перейте на блог кликните ссылку ниже</p>
		<a href="{% url 'posts_list_url' %}">Blog</a>
	</div>
</main>

<!-- <ul>
	<li><a href="">Posts</a></li>
	<li><a href="">Tags</a></li>
	<li><a href="">Create tag</a></li>
	<li><a href="">Create post</a></li>

</ul> -->




</body>
</html>
