{% extends 'blog/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/tag&post_create&update.css' %}">
{% endblock %}


{% block title %}
  Update "{{ tag.title|title }}" tag
{% endblock %}

{% block content %}

  <main>
    <form action="{{ tag.get_update_url }}" method='post'>
      {% csrf_token %}
      {% for field in form %}
        <div class="form_group">
          {{ field.label }}
          {{ field }}
        </div>
        {% if field.errors %}
          <div class="danger">
            {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}
      <button type='submit' class='form_btn'>Update tag</button>
    </form>
  </main>

{% endblock %}
