{% extends 'blog/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/tag&post_delete.css' %}">
{% endblock %}


{% block content %}

<main>
  <form action="{{ tag.get_delete_url }}" method="post">
    {% csrf_token %}
    <div class="form">
      <h3>Are you sure to delete "{{ tag.title|title }}" tag?</h3>
      <a href="{{ tag.get_absolute_url }}">Cancel</a>
      <button type="submit" name="button">Delete</button>
    </div>
  </form>
</main>

{% endblock %}
